/**
 * PROTO LIST CHILDREN PAGE styles
 */

/*
 * 1.0 General Page Layout
 */
#primary {
    margin-bottom: 40px;
}
.list-main .sharedaddy {
    display: none;
}
.list-main {
    list-style: none;
    padding: 0;
    margin: 0;
}
.list-title {
    margin: 0;
    font-size: 20px;
    width: 70%;
    float: right;
}
.list-figure {
    max-width: 200px;
    float: left;
    margin-right: 5%;
    margin-top: 10px;
    width: 25%;
}
.list-main li {
    padding: 4rem 0 2rem;
    border-top: 2px solid gainsboro;
}
.list-main li li {
    padding: 0;
    border: none;
}
.list-excerpt {
    float: right;
    width: 70%;
}
.list-main .more-link {
    display: block;
    padding: 5px 20px;
    width: 140px;
    border: 1px solid;
    text-align: center;
    margin-top: 20px;
}

@media (max-width: 480px) {
    .list-title {
        font-size: 18px;
        float: none;
        width: 100%;
        text-align: center;
        margin: 2rem 0;
    }
    .list-figure {
        float: none;
        margin: 0 auto;
        width: auto;
    }
    .list-excerpt {
        float: none;
        width: 100%;
    }
}