/**
 * PROTO CLIENT PAGE styles
 */

/*
 * 1.0 General Page Layout
 */
#primary-right {
    width: 24%;
    float: right;
    margin: 18px 10px 40px 0;
    padding: 0 0 30px 0;
    background: #fff;
    -webkit-box-shadow: 0 0 13px rgba(0, 0, 0, .07);
    -moz-box-shadow: 0 0 13px rgba(0, 0, 0, .07);
    -ms-box-shadow: 0 0 13px rgba(0, 0, 0, .07);
    box-shadow: 0 0 13px rgba(0, 0, 0, .07);
}
#primary-right .entry-header,
#primary-right .entry-content,
#primary-right .entry-meta {
    padding: 0 10%;
}
#primary-right .entry-title {
    padding: 30px 0 0!important;
}
#primary-right .entry-meta {
    margin: auto 0;
}
#primary-left {
    width: 75%;
    float: left;
    background: transparent;
    box-shadow: none;
    padding: 0;
    overflow: hidden;
}
#primary-left .site-content.archive article {
    width: 33.33333333%;
}
#primary-left .sharedaddy {
	display: none;
}
.page-title-pre {
    color: #aaa;
    font-size: 12px;
    text-transform: uppercase;
    display: block;
}

/*
 * 2.0 Main Content Area
 */
.entry-thumbnail img {
    background: transparent!important;
    padding: 12%;
}
.entry-content {
    padding: 0 42px 0 42px;
}



.testimonial-excerpt .more-link {
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    padding: 5px 35px 3px;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid #5cc1a9;
    position: absolute;
    right: 0;
    bottom: 30px;
}
.testimonial-excerpt .more-link:hover {
    border-color: #363636;
    color: #363636;
}
#client-testimonial-container {
    margin: 18px auto;
    clear: both;
}
#client-testimonial {
    margin: 0 10px;
    padding: 0 72px 30px;
    background: #fff;
    -webkit-box-shadow: 0 0 13px rgba(0, 0, 0, .07);
    -moz-box-shadow: 0 0 13px rgba(0, 0, 0, .07);
    -ms-box-shadow: 0 0 13px rgba(0, 0, 0, .07);
    box-shadow: 0 0 13px rgba(0, 0, 0, .07);
    position: relative;
}
.testimonial-thumb {
    max-width: 20%;
    height: auto;
    float: left;
}
.testimonial-text {
    float: left;
    width: 70%;
    margin-left: 10%;
    position: relative;
}
/*.testimonial-excerpt::before {
    content: '\201C';
    /*font-family: FontAwesome;
    position: absolute;
    font-size: 24px;
    color: gainsboro;
    left: -30px;
    top: -15px;
}
.testimonial-excerpt::after {
    content: '\201C';
    /*font-family: FontAwesome;
    position: absolute;
    font-size: 24px;
    color: gainsboro;
}*/
.testimonial-thumb img {
    margin: 1.5em 1em;
}

/* 
 * 4.0 RESPONSIVE WEB DESIGN ===================================================
 */
@media (max-width: 1599px) {
	
}
@media (max-width: 1000px) {
    #primary-right { width: 33%; }
    #primary-left { width: 65%; }
}
@media (max-width: 900px) {
    
}
@media (max-width: 600px) {
    #primary-right { width: 48%; }
    #primary-left { width: 49%; }
    #primary-left article {
	width: 100%!important;
    }    
}
@media (max-width: 480px) {
    #primary-right {
        width: 100%;
        max-width: 95%;
        margin: 2.5%!important;
        margin-top: 18px!important;
        float: none;
        margin-bottom: 0;
    }
    #primary-left {
        width: 100%;
    }
}
@media (max-width: 400px) {
    
}
